{{!-- Natal is the capital and largest city of the state of Rio Grande do Norte, located in northeastern Brazil. According to IBGE (2021 estimate) the city had a total population of 896,708.<br><br> --}}
This layer contains {{#publication_data.publication_summary}}{{itens}}{{/publication_data.publication_summary}} {{ftnameviz}} in the {{isolabel_ext}}. The data was made available by {{legalname}} and processed by <a href="https://www.addressforall.org/en/" target="_blank">AddressForAll Institute</a>. Full layer metadata can be found on <a href="{{path_preserv_git}}" target="_blank">git</a>.<br><br>Attributes should be read as follows:<br>
<ul><li>hnum: house number</li><li>via: street name</li><li>nsvia: neighborhood name</li><li>sup: complementary information that compose the postal address</li><li>postcode: postal code</li><li>name: popular place name or toponym</li><li>
error: binary string, refer to <a href="https://github.com/digital-guard/preserv/wiki/error-code" target="_blank">documentation</a></li></ul>
