{{#license_evidences}}Licensed under the <a rel="external" target="_doador" href="https://lic.digital-guard.org/{{definition.0}}"><b>{{definition.0}}</b></a> {{#is_implied}}{{implied}} {{/is_implied}}license{{/license_evidences}}
