{{#foropenstreetmap}}{{name}}{{#jurisd2}}, {{name}}{{/jurisd2}}{{#jurisd1}}, {{name_en}}{{/jurisd1}}{{/foropenstreetmap}}{{^foropenstreetmap}}{{isolabel_ext}} -{{/foropenstreetmap}} {{initcap_ftnameviz}}
