	@# pk{{pack_id}}_p{{file}} - ETL extrating to PostgreSQL/PostGIS the {{layername_root}} datatype
	@echo
	@echo "------------------------------------------"
	@echo "------ Layer tipo {{layername}}  ------"
	@echo "-- Incluindo dados do arquivo-{{file}} do package-{{fullPkID}} na base $(pg_db) --"
	@echo " Nome-hash do arquivo-{{file}}: {{sha256file}}"
	@echo " Tabela do layer: {{tabname}}"
	@echo " Sub-arquivos do arquivo-{{file}} com o conteúdo alvo: {{#orig_filename_string_extract}}{{orig_filename_string_extract}}{{/orig_filename_string_extract}}{{^orig_filename_string_extract}}*{{orig_filename}}*{{/orig_filename_string_extract}}"
	@echo " Tema dos sub-arquivos: {{sha256file_name}}"
	@echo "Run with tmux and sudo! (DANGER: seems not idempotent on psql)"
	@whoami
	@printf "Above user is root? If not, you have permissions for all paths?\n [press ENTER for yes else ^C]"
	@read _press_enter_
{{#isCsv}}
	psql $(pg_uri_db) -c "DROP FOREIGN TABLE IF EXISTS {{tabname}}"
{{/isCsv}}
{{^isCsv}}
	psql $(pg_uri_db) -c "DROP TABLE IF EXISTS {{tabname}} CASCADE"
{{/isCsv}}
{{^isOsm}}
	@tput bold
	@echo Extracting ....
	@tput sgr0
	cd $(sandbox); 7z {{7z_opts}} x -y {{sha256file_path}} {{#orig_filename_string_extract}}{{orig_filename_string_extract}}{{/orig_filename_string_extract}}{{^orig_filename_string_extract}}"*{{orig_filename}}*"{{/orig_filename_string_extract}} ; chmod -R a+rx . > /dev/null
{{/isOsm}}
{{#isOsm}}
	@tput bold
	@echo Copying ....
	@tput sgr0
	cd $(sandbox); cp {{sha256file_path}} "{{orig_filename}}.pbf" ; chmod -R a+rx . > /dev/null
{{/isOsm}}
