publicating_geojsons_{{layername_root}}: isolabel   = {{isolabel_ext}}
publicating_geojsons_{{layername_root}}: folder     = {{path_root}}
publicating_geojsons_{{layername_root}}: pretty_opt = 3
publicating_geojsons_{{layername_root}}: view       = vw{{file}}_{{tabname}}_publicating
publicating_geojsons_{{layername_root}}:
	mkdir -m777 -p $(folder)
	@echo " Save ls $(folder) before changes in $(pg_io)/$(isolabel)_{{layername_root}}_ls_before.txt ---"
	@ls -1 $(folder) > $(pg_io)/$(isolabel)_{{layername_root}}_ls_before.txt
	@rm -rf $(folder)/*.geojson
	@echo "--- Gerando arquivos em $(folder) ---"
	psql $(pg_uri_db) -c "SELECT ingest.publicating_geojsons('{{layername_root}}','$(isolabel)','$(folder)','{{buffer_type}}');"

	make audit-geojsons_{{layername_root}} pg_db=$(pg_db)
	@echo "--- Gerando geomosaico em $(folder) ---"
	psql $(pg_uri_db) -c "SELECT ingest.publicating_geojsons_p5('{{layername_root}}','$(isolabel)','$(folder)','$(pretty_opt)');"

	cd /var/gits/_dg/preserv/src; sudo bash fixaPermissoes.sh $(folder)
	@echo " Save ls $(folder) after changes in $(pg_io)/$(isolabel)_{{layername_root}}_ls_after.txt ---"
	@ls -1 $(folder) > $(pg_io)/$(isolabel)_{{layername_root}}_ls_after.txt
	@echo "--- Check DIFF in $(pg_io)/$(isolabel)_{{layername_root}}_ls_diff.txt ---"
	@diff $(pg_io)/$(isolabel)_{{layername_root}}_ls_before.txt $(pg_io)/$(isolabel)_{{layername_root}}_ls_after.txt > $(pg_io)/$(isolabel)_{{layername_root}}_ls_diff.txt || true

audit-geojsons_{{layername_root}}: folder = {{path_root}}
audit-geojsons_{{layername_root}}:
	@ls -lS   $(folder)/*.geojson | awk 'BEGIN {print "-- MÉDIA:"} $$5 {n=n+1;s=s+$$5;} END {print "\tnum arquivos: " n; print "\ttamanho médio: " s/(1024*n) " KiB" }'
	@ls -lhS  $(folder)/*.geojson | head | awk 'BEGIN {print "-- MAIORES:"} $$5 {print $$5 " | " $$9;}'
	@ls -lhSr $(folder)/*.geojson | head | awk 'BEGIN {print "-- MENORES:"} $$5 {print $$5 " | " $$9;}'

change_parameters_{{layername_root}}: isolabel      = {{isolabel_ext}}
change_parameters_{{layername_root}}: threshold_sum = 1000000
change_parameters_{{layername_root}}: threshold     = 100000
change_parameters_{{layername_root}}: heuristic     = 3
change_parameters_{{layername_root}}:
	psql $(pg_uri_db) -c "UPDATE ingest.donated_packcomponent SET lineage = jsonb_set(lineage, '{hcode_distribution_parameters}', '{\"p_heuristic\": $(heuristic), \"p_threshold\": $(threshold), \"p_threshold_sum\": $(threshold_sum)}', TRUE) WHERE id = (SELECT id FROM ingest.vw03full_layer_file WHERE isolabel_ext='$(isolabel)' AND ft_info->>'class_ftname'='{{layername_root}}');"

	make publicating_geojsons_{{layername_root}}
