{{#multiple_files_array}}
rm -f {{sandbox}}/_pk{{packtpl_id}}_{{pkversion}}/*{{name_item}}.* || true
{{/multiple_files_array}}
{{^multiple_files_array}}
rm -f {{sandbox}}/_pk{{packtpl_id}}_{{pkversion}}/*{{orig_filename}}.* || true
{{/multiple_files_array}}
