mkdir -m777 -p {{path_cutgeo_server}}
rm -rf {{path_cutgeo_server}}/*.geojson
psql {{pg_uri}}/{{pg_db}} -c "SELECT ingest.publicating_geojsons('{{layername_root}}','{{isolabel_ext}}','{{path_cutgeo_server}}','{{buffer_type}}',9,3);"
sudo chown -R postgres:www-data {{path_cutgeo_server}}
sudo find {{path_cutgeo_server}} -type d -exec chmod 774 {} \;
sudo find {{path_cutgeo_server}} -type f -exec chmod 664 {} \;
