{{#multiple_files_array}}
rm -f "{{sandbox}}/_pk{{jurisdiction}}{{pack_id}}_{{pkversion}}/*{{name_item}}.*" || true
{{/multiple_files_array}}
{{^multiple_files_array}}
rm -f "{{sandbox}}/_pk{{jurisdiction}}{{pack_id}}_{{pkversion}}/*{{orig_filename}}.*" || true
{{/multiple_files_array}}
{{^isOsm}}
psql $(pg_uri_db) -c "DROP TABLE IF EXISTS {{tabname}} CASCADE"
{{/isOsm}}
