##
# Servidores DIGITAL-GUARD.ORG
##

server {
    server_name digital-guard.org www.digital-guard.org;
    # listen 80;
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
    root /var/www/digital-guard.org/;
    index index.php index.html index.htm;
    access_log /var/log/nginx/digital-guard.org.access_log;

    # PAGES:
    location / {
        try_files $uri $uri/  /index.php?uri=$uri;
    }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php-fpm.sock;
    }
} # \server

server {
    server_name dl.digital-guard.org www.dl.digital-guard.org;
    listen 80;
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
    root /var/www/dl.digital-guard.org/;
    index index.php index.html index.htm;
    access_log /var/log/nginx/digital-guard.org.access_log;

    location ~* "^/(?<hash>[a-f0-9]{6,64}(\.[a-z0-9]+)?)$" {
        try_files /dl.php?$uri /dl.php;
    }

    location ~* "^/out/([a-z0-9\_]+\.zip)$" {
        try_files /dl.php?$uri /dl.php;
    }

    location ~* dl\.php$ {
        internal;
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php-fpm.sock;
    }

    location ~* "^/download/[a-f0-9]{64}(\.[a-z0-9]+)$" {
        root /var/www/dl.digital-guard.org;
        try_files $uri $uri;
    }
} # \server

server {
    server_name git.digital-guard.org www.git.digital-guard.org;
    listen 443 ssl;
    include /etc/nginx/ssl.conf;

    location ~ ^/?.+ {
        rewrite ^/?(.*)$ /digital-guard/$1 break;
        proxy_pass http://github.com;
    }
} # \server

server {
    server_name lic.digital-guard.org www.lic.digital-guard.org;
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
    root /var/www/lic.digital-guard.org/;
    index  index.php index.html index.htm;
    access_log /var/log/nginx/lic.digital-guard.org.access_log;

    location / {
      try_files $uri $uri/  /lic.php?$uri;
    }

    location ~ \.php$ {
          include snippets/fastcgi-php.conf;
          fastcgi_pass unix:/run/php/php-fpm.sock;
    }
} # \server

server {
    server_name docs.digital-guard.org www.docs.digital-guard.org;
    listen 443 ssl;
    include /etc/nginx/ssl.conf;
    access_log /var/log/nginx/docs.digital-guard.org.access_log;

    return 302 https://wiki.addressforall.org/doc/Documenta%C3%A7%C3%A3o_Digital-guard;
} # \server
