{{#paises}}
* **<span id="{{jurisd.name_en}}">{{jurisd.name_en}} ({{scope_label}})</span>**
{{#iso1}}
     - {{legalName}}
         - [<span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]({{path_preserv_git}}):{{#license_data}} [license: [{{name}}]({{url}})]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
             - Original parte {{pack_item}]({{hashedfname_url}}) - {{info.name}}
  {{/pacotes}}
{{/iso1}}
{{#iso3}}
     - **<span id="{{jurisd}}">{{jurisd}}</span>**
{{#doadores}}
         - {{legalName}}
             - [<span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]({{path_preserv_git}}):{{#license_data}} [license: [{{name}}]({{url}})]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
                 - [Original parte {{pack_item}]({{hashedfname_url}}) - {{info.name}}
  {{/pacotes}}
{{/doadores}}
{{/iso3}}
{{/paises}}
