{{#paises}}
* <b>{{jurisd.name_en}} ({{scope_label}})</b>
{{#iso1}}
** {{legalName}}
*** [{{path_preserv_git}} _pk{{local_serial_formated}}]:{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
**** [http://dl.digital-guard.org/{{hashedfname}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
{{/iso1}}
{{#iso3}}
** <b>{{jurisd}}</b>
{{#doadores}}
*** {{legalName}}
**** [{{path_preserv_git}} _pk{{local_serial_formated}}]:{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
***** [http://dl.digital-guard.org/{{hashedfname}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
{{/doadores}}
{{/iso3}}
{{/paises}}
