{{#paises}}
* <b><span id="{{jurisd.name_en}}">{{jurisd.name_en}} ({{scope_label}})</span></b>
{{#iso1}}
** {{legalName}}
*** [{{path_preserv_git}} <span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]:{{#license_data}} [license: [{{url}} {{name}}]]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
**** [http://dl.digital-guard.org/{{hashedfname}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
  {{#filtered_files}}
**** Filtrados:
  {{#layers}}
***** {{class_ftname}}: {{#files}}[http://dl.digital-guard.org/out/{{hashedfname}} '''{{hashedfnametype}}'''] {{/files}}
  {{/layers}}
  {{/filtered_files}}
{{/iso1}}
{{#iso3}}
** <b><span id="{{jurisd}}">{{jurisd}}</span></b>
{{#doadores}}
*** {{legalName}}
**** [{{path_preserv_git}} <span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]:{{#license_data}} [license: [{{url}} {{name}}]]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
***** [http://dl.digital-guard.org/{{hashedfname}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
  {{#filtered_files}}
***** Filtrados:
  {{#layers}}
****** {{class_ftname}}: {{#files}}[http://dl.digital-guard.org/out/{{hashedfname}} '''{{hashedfnametype}}'''] {{/files}}
  {{/layers}}
  {{/filtered_files}}
{{/doadores}}
{{/iso3}}
{{/paises}}
