{{#paises}}
* {{jurisd.name_en}} ({{scope_label}})
{{#iso1}}
     - {{legalName}}
         - [_pk{{local_serial_formated}}]({{path_preserv_git}})
   {{#pacotes}}
             - [**{{info.name}}** (`{{hashedfname_7}}`)](http://dl.digital-guard.org/{{hashedfname}})
  {{/pacotes}}
{{/iso1}}
{{#iso3}}
     - {{jurisd}}
{{#doadores}}
         - {{legalName}}
             - [_pk{{local_serial_formated}}]({{path_preserv_git}})
   {{#pacotes}}
                 - [**{{info.name}}** (`{{hashedfname_7}}`)](http://dl.digital-guard.org/{{hashedfname}})
  {{/pacotes}}
{{/doadores}}
{{/iso3}}
{{/paises}}
