{{#pacotes}}
 - [(`{{hashedfname_7}}`) **{{info.name}}**](http://dl.digital-guard.org/{{hashedfname}}): [{{scope_label}}/_pk{{local_serial_formated}} {{legalName}}]({{path_preserv_git}})
{{/pacotes}}
