{{#pacotes}}
 - [(`{{hashedfname_7}}`) **{{info.name}}**](http://dl.digital-guard.org/{{hashedfname}}): [{{scope_label}}/_pk{{local_serial_formated}} {{legalName}}](http://git.digital-guard.org/preserv-{{path_yaml}}/_pk{{pack_number}}/make_conf.yaml)
{{/pacotes}}
