{{#paises}}
* <b><span id="{{jurisd.name_en}}">{{jurisd.name_en}} ({{scope_label}})</span></b>
{{#iso1}}
** {{legalName}}
*** [{{path_preserv_git}} <span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]:{{#license_data}} [license: [{{url}} {{name}}]]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
**** [{{hashedfname_url}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
{{/iso1}}
{{#iso3}}
** <b><span id="{{jurisd}}">{{jurisd}}</span></b>
{{#doadores}}
*** {{legalName}}
**** [{{path_preserv_git}} <span id="pk{{local_serial_formated}}">Package pk{{local_serial_formated}}</span>]:{{#license_data}} [license: [{{url}} {{name}}]]{{/license_data}}{{#isunpublished}} <small>[unprecedented]</small>{{/isunpublished}}
   {{#pacotes}}
***** [{{hashedfname_url}} Original parte {{pack_item}} (<code>{{hashedfname_7}}</code>)] - {{info.name}}
  {{/pacotes}}
{{/doadores}}
{{/iso3}}
{{/paises}}
