{{#paises}}
* {{jurisd.name_en}} ({{scope_label}})
{{#iso1}}
   - {{legalName}}
     - [_pk{{local_serial_formated}}]({{path_preserv_git}}/make_conf.yaml)
   {{#pacotes}}
       - [**{{info.name}}** (`{{hashedfname_7}}`)](http://dl.digital-guard.org/{{hashedfname}})
  {{/pacotes}}
{{/iso1}}
{{#iso3}}
   - {{jurisd}}
{{#doadores}}
     - {{legalName}}
       - [_pk{{local_serial_formated}}]({{path_preserv_git}}/make_conf.yaml)
   {{#pacotes}}
         - [**{{info.name}}** (`{{hashedfname_7}}`)](http://dl.digital-guard.org/{{hashedfname}})
  {{/pacotes}}
  {{#filtered_files}}
         - Filtrados:
  {{#layers}}
           - {{class_ftname}}: {{#files}}[**{{hashedfnametype}}** (`{{hashedfname_7}}`)](http://dl.digital-guard.org/{{hashedfname}}) {{/files}}
  {{/layers}}
  {{/filtered_files}}
{{/doadores}}
{{/iso3}}
{{/paises}}
